{% extends 'layouts/main.php.twig' %}


{% block body %}
	<!-- top bar	 -->
		<div class="site_title">
			<h1 class="my_name">Ricky Do</h1>
		</div>
	<!-- end top bar -->

	<!-- about me slider -->
		<div class="row">
			<div class="medium-12 column top" data-orbit>
				<div>
					<img class="th radius me" src="{{ app.request.getbaseurl }}/assets/img/ricky.jpg">
					<ul class="intro_bullets">
						<li>Biologist turned Web Developer</li>
						<li>Dev Bootcamp Grad</li>
						<li>Mechanically Inclined</li>
						<li>Avid Netflixer</li>
					</ul>
					<a href="https://twitter.com/statusd0"><i class="fi-social-twitter"></i></a>
					<a href="https://www.facebook.com/phucee"><i class="fi-social-facebook"></i></a>
					<a href="https://www.linkedin.com/in/rickydo/en"><i class="fi-social-linkedin"></i></a>
					<a href="https://github.com/rickydo"><i class="fi-social-github"></i>
					<a href="mailto:ricky.dop@gmail.com"><i class="fi-mail"></i></a>
				</div>

				<div>
					<h2>Skills</h2>
					<hr>
					<div class="small-6 column">
						<ul>
							<li>Ruby on Rails</li>
							<li>HTML, CSS, SCSS</li>
							<li>Foundation 4/5</li>
							<li>JS: Ajax, JQuery</li>
							<li>Rspec, BDD, Git</li>
						</ul>
					</div>
					<div class="small-6 column">
						<ul>
							<li>PHP Laravel</li>
							<li>Composer, Silex</li>
							<li>Blade, Twig</li>
							<li>LAMP, MySql</li>
							<li>Agile Development</li>
						</ul>
					</div>
				</div>

				<div>
					<h2>About Me</h2>
					<div class="medium-4 column">
						<ul>
							<h3>TV shows</h3>
							<hr>
							<li>The Office</li>
							<li>Modern Family</li>
							<li>Game of Thrones</li>
							<li>Other Comedies</li>
						</ul>
					</div>
					<div class="medium-4 column">
						<ul>
							<h3>Quirks</h3>
							<hr>
							<li>I quote TV shows/movies very often.</li>
							<li>I'm the guy laughing at everything in a movie.</li>
						</ul>
					</div>
					<div class="medium-4 column">
						<ul>
							<h3>Outdoor Activities</h3>
							<hr>
							<li>Basketball</li>
							<li>Football</li>
							<li>Car Enthusiast</li>
							<li>Longboarding</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	<!-- about me end -->

	<!-- projects -->
		<div class="row">
			<ul >
				<li class="large-6 column">
					<a href="#" data-reveal-id="qawareModal">
						<h3>QAware</h3>
						<img class="th project_img" src="{{ app.request.getbaseurl }}/assets/img/qaware.png">
					</a>
				</li>
				<li class="large-6 column">
					<a href="#" data-reveal-id="wtModal">
						<h3>Working-Title</h3>
						<img class="th project_img" src="{{ app.request.getbaseurl }}/assets/img/wt-home.png">
					</a>
				</li>
				<li class="large-6 column">
					<a href="#" data-reveal-id="autoModal">
						<h3>AutoUpkeep</h3>
						<img class="th project_img" src="{{ app.request.getbaseurl }}/assets/img/auto-home.png">
					</a>
				</li> 
				<li class="large-6 column">
					<a href="#" data-reveal-id="fcModal">
						<h3>TheFlashCards</h3>
						<img class="th project_img" src="{{ app.request.getbaseurl }}/assets/img/fc-home.png ">
					</a>
				</li>
			</ul>
		</div>

	<!-- projects end -->

	<!-- project modals -->
		<div id="qawareModal" class="reveal-modal full" data-reveal>
      		<p>QAware is a cross-platform application that is changing the way quality assurance and quality control is conducted across many industries. By integrating iBeacon technology with a native iOS app written in Objective-C, QAware ensures that inspections happen when, where, and by whom they are supposed to happen. This was our final project at DBC.</p>
      		<p class="heroku_button"><a href="https://qaware.herokuapp.com" target="_blank" class="button radius">Visit on Heroku</a></p>
      		<div class="medium-12 column" data-orbit>
				<div><img class="modal_img" src="{{ app.request.getbaseurl }}/assets/img/qaware.png"></div>
				<div><img class="modal_img" src="{{ app.request.getbaseurl }}/assets/img/qa-dashboard.png"></div>
				<div><img class="modal_img" src="{{ app.request.getbaseurl }}/assets/img/qaware-completed.png"></div>
				<div><img class="modal_img" src="{{ app.request.getbaseurl }}/assets/img/qa-completed-form.png"></div>
				<div><img class="modal_img" src="{{ app.request.getbaseurl }}/assets/img/qa-graphs.png"></div>
				<div><img class="modal_img" src="{{ app.request.getbaseurl }}/assets/img/qa-employees.png"></div>
			</div>
	      	<a class="close-reveal-modal">&#215;</a>
	    </div>
	    <div id="wtModal" class="reveal-modal full" data-reveal>
      		<p>A writing collaboration engine where users can contribute to branches of a project as well as view a tree visualization of a project's evolution. Working Title is like a Github for songs, stories, and poetry.</p>
      		<p class="heroku_button"><a href="https://autoupkeep.herokuapp.com" target="_blank" class="button radius">Visit on Heroku</a></p>
      		<div class="medium-12 column" data-orbit>
				<div><img class="modal_img" src="{{ app.request.getbaseurl }}/assets/img/wt-home.png"></div>
				<div><img class="modal_img" src="{{ app.request.getbaseurl }}/assets/img/wt-all-projects.png"></div>
				<div><img class="modal_img" src="{{ app.request.getbaseurl }}/assets/img/wt-profile.png"></div>
				<div><img class="modal_img" src="{{ app.request.getbaseurl }}/assets/img/wt-story.png"></div>
				<div><img class="modal_img" src="{{ app.request.getbaseurl }}/assets/img/wt-top-5.png"></div>
				<div><img class="modal_img" src="{{ app.request.getbaseurl }}/assets/img/wt-song.png"></div>
				<div><img class="modal_img" src="{{ app.request.getbaseurl }}/assets/img/wt-login.png"></div>
			</div>
	      	<a class="close-reveal-modal">&#215;</a>
	    </div>
	    <div id="autoModal" class="reveal-modal full" data-reveal>
      		<p>AutoUpkeep is a webapp which allows users to signup and keep track of vehicle maintenance records online.</p>
      		<p class="heroku_button"><a href="https://autoupkeep.herokuapp.com" target="_blank" class="button radius">Visit on Heroku</a></p>
      		<div class="medium-12 column" data-orbit>
				<div><img class="modal_img" src="{{ app.request.getbaseurl }}/assets/img/auto-home.png"></div>
				<div><img class="modal_img" src="{{ app.request.getbaseurl }}/assets/img/auto-home-logged-in.png"></div>
				<div><img class="modal_img" src="{{ app.request.getbaseurl }}/assets/img/auto-vehicle.png"></div>
				<div><img class="modal_img" src="{{ app.request.getbaseurl }}/assets/img/auto-change.png"></div>
				<div><img class="modal_img" src="{{ app.request.getbaseurl }}/assets/img/auto-signup.png"></div>
			</div>
	      	<a class="close-reveal-modal">&#215;</a>
	    </div>
	    <div id="fcModal" class="reveal-modal full" data-reveal>
      		<p>TheFlashCards is a small Rails webapp I made for my baby cousins. It simply flips through each card in the appropiate categories.</p>
      		<p class="heroku_button"><a href="https://theflashcards.herokuapp.com" target="_blank" class="button radius">Visit on Heroku</a></p>
      		<div class="medium-12 column" data-orbit>
				<div><img class="modal_img" src="{{ app.request.getbaseurl }}/assets/img/fc-home.png"></div>
				<div><img class="modal_img" src="{{ app.request.getbaseurl }}/assets/img/fc-card.png"></div>
				<div><img class="modal_img" src="{{ app.request.getbaseurl }}/assets/img/fc-card2.png"></div>
			</div>
	      	<a class="close-reveal-modal">&#215;</a>
	    </div>
	<!-- project models end -->




{% endblock %}